<p-panel header="Slide {{target && target.getSlide().getName()}}" [toggleable]="true">
  <div class="ui-g">
    <div class="ui-g-12">
      <app-prez-3d-scene></app-prez-3d-scene>
    </div>
  </div>
</p-panel>

<p-panel header="Slides" [toggleable]="true" [collapsed]="true">
  <div class="ui-g">
    <div class="ui-g-12">
      <p-tabView>
        <p-tabPanel header="Scene">
          <p-tree [value]="scene.elements" selectionMode="single" [(selection)]="selectedFile" (onNodeSelect)="nodeSelect($event)"
            (onNodeUnselect)="nodeUnselect($event)"></p-tree>
          <app-prez-3d-element-camera></app-prez-3d-element-camera>
          <app-prez-3d-element-mesh></app-prez-3d-element-mesh>
        </p-tabPanel>
        <p-tabPanel header="Mouse">
          <table>
            <tr>
              <td>Mouse X</td>
              <td>{{scene.mouse && scene.mouse.x}}</td>
            </tr>
            <tr>
              <td>Mouse Y</td>
              <td>{{scene.mouse && scene.mouse.y}}</td>
            </tr>
          </table>
        </p-tabPanel>
        <p-tabPanel header="Current">
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</p-panel>
<p-growl [value]="msgs"></p-growl>