<button pButton type="button" (click)="add()" label="Click"></button>
{{ _el | json }}
<div (window:resize)="onResize()" id="threejs" style="width: 100%;" #div (window:resize)="elHeight = div.getBoundingClientRect()">
  <!-- ThreeJS here -->
</div>

<p-tabView>
    <p-tabPanel header="Nodes">
        <p-treeTable [value]="nodes">
            <p-column field="id" header="Id"></p-column>
            <p-column field="type" header="Type"></p-column>
            <p-column field="position.x" header="PX"></p-column>
            <p-column field="position.y" header="PY"></p-column>
            <p-column field="position.z" header="PZ"></p-column>
            <p-column field="rotation.x" header="RX"></p-column>
            <p-column field="rotation.y" header="RY"></p-column>
            <p-column field="rotation.z" header="RZ"></p-column>
        </p-treeTable>
    </p-tabPanel>
    <p-tabPanel header="Target">
      <div class="ui-grid-row">
        <div class="ui-grid-col-6">
            <div class="ui-grid-col-4">
                Courant
            </div>
            <div class="ui-grid-col-8">
                {{target && target.name}}
            </div>
        </div>
        <div class="ui-grid-col-6">
            <div class="ui-grid-col-4">
                Précédent
            </div>
            <div class="ui-grid-col-8">
                {{target && target.getPrevious().name}}
            </div>
        </div>
        <div class="ui-grid-col-6">
            <div class="ui-grid-col-4">
                Suivant
            </div>
            <div class="ui-grid-col-8">
                {{target && target.getNext().name}}
            </div>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Header 3">
        Content 3    
    </p-tabPanel>
</p-tabView>

<p-growl [value]="msgs"></p-growl>
